<h2>Редактировать профиль <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, label: "Email", required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Ожидает подтверждения: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, label: "Пароль", autocomplete: "off", hint: "Оставьте пустым, если не хотите менять", required: false %>
    <%= f.input :password_confirmation, label: "Подтверждение", required: false %>
    <%= f.input :current_password, hint: "Введите текущий пароль, чтобы сохранить изменения", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Сохранить" %>
  </div>
<% end %>

<h3>Удалить аккаунт</h3>

<p>Unhappy? <%= link_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete %></p>

<%= link_to "Назад", :back %>
