<% if signed_in?%>
    <% if @is_chat_shown %>
      <%= link_to "Скрыть чат", task_path(@task, chat: 'off', method: :get), class: "btn btn-primary" %> 
    <% else %>
      <%= link_to "Показать чат", task_path(@task, chat: 'on', method: :get), class: "btn btn-primary" %>
    <% end %>
    <br> <br>
  <% end %>

  <% if signed_in? && @is_chat_shown %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-comment"></span> Chat
    </div>


    <div class="panel-body">
      <ul class="chat">

        <% @task.messages.each do |message| %>
        <% if current_user.id != message.user_id %>

        <li>
          <div class="chat-body clearfix">

            <div class="header">
              <strong class="primary-font"> <%= message.sender_name %> </strong>
              <small class="pull-right text-muted"> <span class="glyphicon glyphicon-time"></span>
                <%= message.created_at.strftime("%H:%M %d.%m.%y") %></small>
              </div>
              <p>
                <%= message.text %>
              </p>
            </div>
          </li>
          <% else %>
          <li>

            <div class="chat-body clearfix">
              <div class="header">
                <strong class="pull-right primaty-font"><%= message.sender_name %></strong>
                <small class="text-muted"> <span class="glyphicon glyphicon-time"></span>
                 <%= message.created_at.strftime("%H:%M %d.%m.%y") %></small>
               </div>
               <p>
                <%= message.text %>
              </p>
            </div>
          </li>

          <% end %>
          <% end %>
        </ul>
      </div>

      <%= render 'message_form' %>

    </div>
    <% end %>