<% message_id = current_user.id != message.user_id ? "collocutors_message" : "my_message" %>
<% full_name_class = "pull-right" if current_user.id == message.user_id %>
<strong class=<%= full_name_class %> ><%= message.user.full_name %></strong>
<small><%= message.created_at.strftime("%H:%M %d.%m.%y") %></small>
<p id=<%= message_id %> ><%= message.text %></p>