<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <td align="center"><strong>Фамилия</strong></td>
        <td align="center"><strong>TODO</strong></td>
        <% @homeworks.each do |homework| %>
          <td align="center" colspan="<%= homework.problems.count %>"> <%= homework.number %> </td>
        <% end %>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <% @problems.each do |problem| %>
          <td align="center"> 
            <%= problem.number %>
          </td>
        <% end %>
      </tr>
    </thead>

    <% @students.each do |student| %>
      <tr> 
        <td> <%= student.surname %> <%= student.name.first %>. </td>
        <td> <%= student.tasks.select{ |x| x.status != "accepted" }.count %> </td>

        <% student.tasks.each do |task| %>
          <% case task.status 
              when "accepted" %>
              <td class="success"></td>
              <% when "not_accepted" %>
              <td class="danger"></td>
              <% when "not_submitted" %>
              <td></td>
              <% when "accepted_partially" %>
              <td class="warning"></td>
          <% end %>
        <% end %>

      </tr>
    <% end %>
    
  </table>
</div>