<div class="col-md-8">
  <h2 id="task_title">
    <div id="text">
    <% if @task.accepted? %>
      <span style="color:#5cb85c" class="glyphicon glyphicon-ok-sign"></span>
    <% elsif @task.accepted_partially? %>
      <span style="color:#f0ad4e" class="glyphicon glyphicon-exclamation-sign"></span>
    <% end %>

    Задача <%= @task.name %>

    </div>
  </h2>
</div>

<div class="col-md-4">
  <% if current_user.teacher? %>
  <h4 align="right">
    <%= @student.full_name %> <br>
    <%= mail_to @student.user.email, @student.user.email %>
  </h4>
  <% end %>
</div>

<div class="col-md-12">
  <div class="row"><div class="well well-small"> <%= @task.problem.text %> </div></div>
</div>

<div class="col-md-7">
  <% if signed_in? && current_user.id == @task.user_id && @task.status != "accepted" %>
    <%= link_to "Добавить решение", new_submission_path(problem_id: @task.problem_id, task_id: @task.id), class: "btn btn-primary" %>
    <br> <br>
  <% end %>

  <% if @task.submissions.any? %>
    <div id="notes" <%= 'style="display: none"'.html_safe unless @task.notes.any? %>>
      <h3> Замечания </h3>
      <%= render @task.notes.reverse %>
    </div>
  <% end %>

  <% if signed_in? && current_user.teacher? %>
    <% if @task.accepted? %>
      <div class="btn-group">
        <%= link_to "Принято", '#', class: "btn btn-success", disabled: true %>
          <%= link_to "Отменить", task_path(@task, task: {status: after_cancel_status(@task)}), method: :put, class: "btn btn-default" %>
      </div>
    <% else %>
      <% if @task.submissions.any? %>
        <%= render 'note_form' %>
      <% end %>
      <br>

      <%= link_to "Принять", task_path(@task, task: {status: "accepted"}), method: :put, class: "btn btn-success" %>
      <%= link_to "Принять частично", task_path(@task, task: {status: "accepted_partially"}), method: :put, class: "btn btn-warning" %>
    <% end %>
    <br><br>
  <% end %>


  <% if @task.submissions.any? %>
    <h3>Решения</h3>
      <% @task.submissions.each do |submission| %>
        <h5>
          <div class="btn-group">
            <%= link_to submission.file.url, class: "btn btn-default", disabled: (not submission.file?) do %>
              <span class="glyphicon glyphicon-cloud-download"></span> <%= "v.#{submission.version}" %>
            <% end %>
            <% unless (not submission.url) || (submission.url.empty?) %>
              <%= link_to submission.url, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-link"></span> <%= submission.pull_request? ? "Pull request" : URI(submission.url).host %>
              <% end %>
            <% end %>
          </div>
          <%= submission.text %>

          <small><%= submission.created_at.strftime("%H:%M %d.%m.%y") %></small>
        </h5>

      <% end %>
  <% end %>
</div>

<div class="col-md-5">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-comment"></span> Chat
    </div>


    <div class="panel-body">
      <ul class="chat">

        <% @task.messages.each do |message| %>
        <% if current_user.id != message.user_id %>

        <li>
          <div class="chat-body clearfix">

            <div class="header">
              <strong class="primary-font"> <%= message.sender_name %> </strong>
              <small class="pull-right text-muted"> <span class="glyphicon glyphicon-time"></span>
                <%= message.created_at.strftime("%H:%M %d.%m.%y") %></small>
              </div>
              <p>
                <%= message.text %>
              </p>
            </div>
          </li>
          <% else %>
          <li>

            <div class="chat-body clearfix">
              <div class="header">
                <strong class="pull-right primaty-font"><%= message.sender_name %></strong>
                <small class="text-muted"> <span class="glyphicon glyphicon-time"></span>
                 <%= message.created_at.strftime("%H:%M %d.%m.%y") %></small>
               </div>
               <p>
                <%= message.text %>
              </p>
            </div>
          </li>

          <% end %>
          <% end %>
        </ul>
      </div>

      <%= render 'message_form' %>

    </div>
  </div>