<div class="col-md-8">
  <h2>
  <% if @task.accepted? %>
    <span style="color:#5cb85c" class="glyphicon glyphicon-ok-sign"></span>
  <% elsif @task.accepted_partially? %>
    <span style="color:#f0ad4e" class="glyphicon glyphicon-exclamation-sign"></span>
  <% end %>
    Задача <%= @task.problem.homework.number %>.<%= @task.problem.number %>

    <% if current_user.teacher? %>
      <small> 
        <%= @user.full_name %>
        <%= mail_to @user.email do %>
          <span class="glyphicon glyphicon-envelope"></span>
        <% end %>
      </small> 
    <% end %>
    
  </h2>

  <div class="row"><div class="well well-small"> <%= @task.problem.text %> </div></div>

  <% if signed_in? && current_user.id == @task.user_id && @task.status != "accepted" %>
    <%= link_to "Добавить решение", new_submission_path(problem_id: @task.problem_id, task_id: @task.id), class: "btn btn-primary" %>
  <% end %>

  <% if @task.submissions.any? %>

    <% if @task.notes.any? %>
      <h3> Замечания </h3>
          <% @task.notes.order(:id).reverse.each do |note| %>
            <h5>
              <% if note.fixed? %>
                <span style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
              <% else %>
                <span style="color:#f0ad4e" class="glyphicon glyphicon-exclamation-sign"></span>
              <% end %>

              <%= note.text %>
              <small><strong><%= "v.#{note.submission.version}" %></strong><%=", #{note.created_at.strftime("%d.%m.%y")}" %></small> 

              <% if signed_in? && current_user.teacher? %>
                <% if not note.fixed? %>
                  <%= link_to note_path(note, note: { fixed: true }), method: :put, title: "Принять" do %>
                    <span style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                  <% end %>
                <% else %>
                  <%= link_to note_path(note, note: { fixed: false }), method: :put, title: "Отменить" do %>
                    <span style="color:#d9534f" class="glyphicon glyphicon-remove"></span>
                  <% end %>
                <% end %>

                <%= link_to note_path(note), method: :delete do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              <% end %>

            </h5>
          <% end %>
    <% end %>
  <% end %>

  <% if signed_in? && current_user.teacher? && (not @task.accepted?) && @submissions.any? %>
    
      <%= simple_form_for @last_submission, url: {controller: :submissions, action: :update} do |f| %>
        <%= f.hidden_field :id, value: @last_submission.id %>

          <div class="links">
            <%= link_to_add_association 'Добавить замечание', f, :notes, class: "btn btn-warning" %>
            <%= f.submit "Сохранить замечания", class: "btn btn-default" %>
          </div>
          
          <br>
      <% end %>

      <%= form_for @task, method: :put do |f| %>
        <%= f.hidden_field :status, value: "accepted" %>
        <%= f.submit "Принять решение", class: "btn btn-success" %>
      <% end %>
  <% end %>

  <% if @task.submissions.any? %>
    <h3>Решения</h3>
      <% @task.submissions.each do |submission| %>
        <h5>
            <%= link_to submission.file.url, class: "btn btn-default", disabled: (not submission.file?) do %>
              <span class="glyphicon glyphicon-cloud-download"></span> <%= "v.#{submission.version}" %>
            <% end %>
          
          <%= submission.text %> 
          
          <small><%= submission.created_at.strftime("%H:%M %d.%m.%y") %></small>
        </h5>

      <% end %>
  <% end %>

</div>
<!-- <div class="col-md-4">
<h1>Обсуждение</h1>
</div> -->