<div class="col-md-8">
  <h2>
  <% if @task.accepted? %>
    <span style="color:#5cb85c" class="glyphicon glyphicon-ok-sign"></span>
  <% elsif @task.accepted_partially? %>
    <span style="color:#f0ad4e" class="glyphicon glyphicon-exclamation-sign"></span>
  <% end %>
    Задача <%= @task.problem.homework.number %>.<%= @task.problem.number %> 
    <small> 
      <%= "#{@user.name} #{@user.surname}" if current_user.teacher? %>
    </small> 
  </h2>

  <div class="row"><div class="well well-small"> <%= @task.problem.text %> </div></div>

  <% if @task.submissions.any? %>
    <h3>Последнее решение</h3>

    <h5>
      <%= link_to @last_submission.file.url, class: "btn btn-default", disabled: (not @last_submission.file?) do %>
        <span class="glyphicon glyphicon-cloud-download"></span> <%= "v.#{@last_submission.version}" %>
      <% end %>
      
      <%= @last_submission.text %> 
      
      <small><%= @last_submission.created_at.strftime("%H:%M %d.%m.%y") %></small>
    </h5>

    <% if @task.notes.any? %>
      <h3> Замечания </h3>
          <% @task.notes.each do |note| %>
            <h5>
              <% if note.fixed? %>
                <span style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
              <% else %>
                <span style="color:#f0ad4e" class="glyphicon glyphicon-exclamation-sign"></span>
              <% end %>

              <%= note.text %>
              <small><strong><%= "v.#{note.submission.version}" %></strong><%=", #{note.created_at.strftime("%d.%m.%y")}" %></small> 

              <% if signed_in? && current_user.teacher? && (not note.fixed?) %>
                  <%= form_for note, method: :put do |f| %>
                    <%= f.hidden_field :id, value: note.id %>
                    <%= f.hidden_field :fixed, value: true %>
                    <%= f.submit "Исправлено", class: "btn btn-success btn-xs"%>
                  <% end %>
                <% end %>

            </h5>
          <% end %>
    <% end %>
  <% end %>

  <% if signed_in? && current_user.teacher? && (not @task.accepted?) && @submissions.any? %>
    
      <%= simple_form_for @last_submission, url: {controller: :submissions, action: :update} do |f| %>
        <%= f.hidden_field :id, value: @last_submission.id %>

          <div class="links">
            <%= link_to_add_association 'Добавить замечание', f, :notes, class: "btn btn-warning" %>
            <%= f.submit "Сохранить замечания", class: "btn btn-default" %>
          </div>
          
          <br>
      <% end %>

      <%= form_for @task, method: :put do |f| %>
        <%= f.hidden_field :status, value: "accepted" %>
        <%= f.submit "Принять решение", class: "btn btn-success" %>
      <% end %>
  <% end %>

  <% if @task.submissions.count > 1 %>
    <h3>Предыдущие решения</h3>
      <% @task.submissions.select{|s| s.id != @last_submission.id}.each do |submission| %>
        <h5>
            <%= link_to submission.file.url, class: "btn btn-default", disabled: (not submission.file?) do %>
              <span class="glyphicon glyphicon-cloud-download"></span> <%= "v.#{submission.version}" %>
            <% end %>
          
          <%= submission.text %> 
          
          <small><%= submission.created_at.strftime("%H:%M %d.%m.%y") %></small>
        </h5>

      <% end %>
  <% end %>

</div>
<!-- <div class="col-md-4">
<h1>Обсуждение</h1>
</div> -->