<h2>
  Задача <%= @task.problem.homework.number %>.<%= @task.problem.number %> 
  <small> 
    <%= "#{@user.name} #{@user.surname}" %> 
    <%= " v.#{@submissions.last.version}" if @submissions.any? %>
  </small> 
</h2>

<h5> <%= @task.problem.text %> </h5>

<%= form_for @task, method: :put do |f| %>
  <%= f.hidden_field :status, value: "accepted" %>

  <%= f.submit "Approve" %>

<% end %>