<div id="<%= dom_id(notification) %>" <%= 'class=read_notification' if notification.is_read %> >
<% task = notification.task %>
<% if current_user.teacher? %>
  <% user = task.student.user %>
    <table>
    <tr>
      <td><%= gravatar_for user, size: 50 %></td>
      <td>
      <table>
        <tr>
          <td><%= user.full_name %>
            <small>
              <strong><%= notification.last_event_time.strftime("%H:%M") %></strong>
              <%= notification.last_event_time.strftime("%d.%m.%y") if notification.last_event_time.to_date != Time.now.to_date %>
            </small></td>
        </tr>
        <tr>
          <td>
            <% if notification.added_message? %>
              К задаче <%= link_to task.name, task %>
              добавлено
              <%= notification.messages_count %>
              <%= notification.new_messages_form %>
            <% else %>
              <%= notification.versions_count%>
              <%= notification.new_versions_form%>
              задачи
              <%= link_to task.name, task%>
            <% end %>
          </td>
        </tr>
      </table>
      </td>
      <td>
        <%= render 'notifications/form', resource: notification %>
      </td>
    </tr>
    </table>

<% else %>
    <% if notification.task_accepted? %>
      <span style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
      <% if task.job.assignment.assignment_type == "homework" %>
        Задача <%= link_to task.name, task %> принята
      <% else %>
        Тест: <%= link_to "задача #{task.problem.number}", task %> принята
      <% end %>
    <% else %>
      <span style="color:#f0ad4e" class="glyphicon glyphicon-exclamation-sign"></span>
      <% case notification.event_type when 'added_comments' %>
        К задаче <%= link_to task.name, task %> добавлено <%= notification.comments_count %> <%= notification.new_comments_form %>
      <% when 'added_message' %>
        К задаче <%= link_to task.name, task %> добавлено <%= notification.messages_count %> <%= notification.new_messages_form %>
      <% else %>
        Задача <%= link_to task.name, task %> принята частично
      <% end %>
    <% end %>
    <small>
      <strong><%= notification.last_event_time.strftime("%H:%M") %></strong>
      <%= notification.last_event_time.strftime("%d.%m.%y") if notification.last_event_time.to_date != Time.now.to_date %>
    </small>
    <div class="pull-right">
      <%= render 'notifications/form', resource: notification %>
    </div>
<% end %>
<hr>
</div>
