<% if @students.any? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <td align="center"><strong>Студент</strong></td>
          <td align="center"><strong>TODO</strong></td>
          <% @group.homeworks.each do |homework| %>
            <% if homework.problems.any? %>
              <td class="separator"></td>
              <td align="center" colspan="<%= homework.problems.count %>"><strong> №<%= homework.number %> </strong></td>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <% @group.problems.sort_by{|x| x.id}.each do |problem| %>
            <% if problem.number == 1 %>
              <td class="separator"></td> 
            <% end %>

            <td align="center">  
              <%= problem.number %>
            </td>
          <% end %>
        </tr>
      </thead>

      <% @students.sort_by{|x| x.surname}.each do |student| %>
        <tr> 
          <td>
            <%= "#{student.surname} #{student.name}" %>

            <% if signed_in? && current_user.teacher? && (not student.approved?) %>
              <%= link_to approve_student_path(student), method: :put do %>
                <span style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
              <% end %>

              <%= link_to destroy_student_path(student), method: :delete do %>
                <span style="color:#d9534f" class="glyphicon glyphicon-remove"></span>
              <% end %>
            <% end %>
          </td>
          <td align="center"><%= student.tasks_left.count %></td>

          <% student.tasks.sort_by{|x| x.problem.number}.each do |task| %>
            <% if task.problem.number == 1 %>
              <td class="separator"></td> 
            <% end %>

            <% case task.status 
                when "accepted" %>
                <td class="accepted"></td>
                <% when "not_accepted" %>
                <td class="not_accepted"></td>
                <% when "not_submitted" %>
                <td></td>
                <% when "accepted_partially" %>
                <td class="accepted_partially"></td>
            <% end %>
          <% end %>

        </tr>
      <% end %>  
    </table>
  </div>
<% end %>