<h2>
  Группа <%= @group.name %>
  <% if signed_in? %>
    <% if current_user.teacher? %>
      <%= link_to edit_group_path do  %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    <% end %>
  <% else %>
    <small> <%= "#{@group.teacher.name} #{@group.teacher.surname}" unless @group.teacher.nil? %> </small>
  <% end %>
</h2>

<% if @group.problems.any? %>
  <%= render 'group_table' %>
  <%= render 'group_homeworks' %>
<% else %>
  <h4> Нет домашних работ.</h4>
<% end %>