<h2>
  Группа <%= @group.name %>
  <small>
    <% if signed_in? %>
      <% if current_user.teacher? %>
        <%= link_to edit_group_path do %>
        	<span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% else %>
        <%= "#{@group.teacher.name} #{@group.teacher.surname}" %>
      <% end %>
    <% end %>
  </small>
</h2>
<% if @group.homeworks.empty? %>
  <h4> Нет домашних работ.</h4>
<% else %>
  <%= render 'group_table' %>
  <%= render 'group_homeworks' %>
<% end %>
