<h2>
  Группа <%= @group.name %>
  <small>
    <%= @group.teacher.full_name if (not signed_in?) || current_user.student? %>

    <% if signed_in? %>
      <% if current_user.teacher? %>
        <%= link_to edit_group_path do  %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% else %>
        <%= mail_to @group.teacher.email do %>
          <span class="glyphicon glyphicon-envelope"></span>
        <% end %>     
      <% end %>
    <% end %>
  </small>
</h2>

<% if @group.problems.any? %>
  <%= render 'group_table' %>
  <%= render 'group_homeworks' %>
<% else %>
  <h4> Нет домашних работ.</h4>
<% end %>