<div class="row">
  <div class="col-md-2">
    <h5>
    <%= link_to "Показать все", root_path( flag: :show_all ) %>
    </h5>
    <h5>
    <%= link_to "Скрыть прочитанные", root_path( flag: :hide_read ) %>
    </h5>
  </div>
  <div class="col-md-6">
    <h1>Новости</h1>
    <% if @notifications.empty? %>
      <h4>Нет новостей.</h4>
    <% else %>
      <div id = "notifications">
        <%= render @notifications %>
      </div> 
      <%= will_paginate @notifications, :inner_window => 2, :outer_window => 1 %>
    <% end %>
  </div>

  <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h3>Дедлайн</h3>
          <h5>Осталось меньше недели:</h5>
            <% @deadline_tasks.each do |task| %>
              <h5> <span class="glyphicon glyphicon-info-sign"></span>
                <%= link_to task.name, task %>

              </h5>
        </div>
      </div>
    <% end %>

    <% if @overdue_tasks.any? %>
      <div class="row">
        <div class="col-md-12">
          <h3>Просроченные задачи</h3>
          <% @overdue_tasks.each do |task| %>
            <h5> <span class="glyphicon glyphicon-exclamation-sign"></span>
                <%= link_to task.name, task %>
                (<%= (Time.now.beginning_of_day - task.created_at.beginning_of_day - 2.weeks).to_i / 1.day + 1 %> дн.)
            </h5>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
