<div class="row">
  <div class="col-md-8">
    <h1>Новости</h1>
    
    <% if @student_feed.empty? %>
      <h4>Нет новостей.</h4>
    <% else %>
      <% @student_feed.each do |entry| %>
        <h5>
          <% if entry.class.name == "Task" %>
            <span style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
            <% if entry.job.assignment.assignment_type == "homework" %>
              Задача <%= link_to entry.name, entry %> принята
            <% else %>
              Тест: <%= link_to "задача #{entry.problem.number}", entry %> принята
            <% end %>
          <% elsif entry.class.name == "Submission" %>
            <span style="color:#f0ad4e" class="glyphicon glyphicon-exclamation-sign"></span>
            <% if entry.task.job.assignment.assignment_type == "homework" %>
              К задаче <%= link_to entry.task.name, entry.task %> добавлены замечания
            <% else %>
              Тест: к <%= link_to "решению #{entry.problem.number}", entry %> добавлены замечания
            <% end %>
          <% end %>

          <small>
            <strong><%= entry.updated_at.strftime("%H:%M") %></strong>
            <%= entry.updated_at.strftime("%d.%m.%y") if entry.updated_at.to_date != Time.now.to_date %>
          </small>
        </h5>
      <% end %>
      <%= will_paginate @student_feed, :inner_window => 2, :outer_window => 1 %>
    <% end %>
  </div>

  <div class="col-md-4">
    <% if @deadline_tasks.any? %>
      <div class="row">
        <div class="col-md-12">
          <h3>Дедлайн</h3>
          <h5>Осталось меньше недели:</h5>
            <% @deadline_tasks.each do |task| %>
              <h5> <span style="color:#f0ad4e" class="glyphicon glyphicon-info-sign"></span>
                <%= link_to task.name, task %>

              </h5>
            <% end %>
        </div>
      </div>
    <% end %>

    <% if @overdue_tasks.any? %>
      <div class="row">
        <div class="col-md-12">
          <h3>Просроченные задачи</h3>
          <% @overdue_tasks.each do |task| %>
            <h5> <span style="color:#d9534f" class="glyphicon glyphicon-exclamation-sign"></span>
                <%= link_to task.name, task %>
                (<%= (Time.now.beginning_of_day - task.created_at.beginning_of_day - 2.weeks).to_i / 1.day + 1 %> дн.)
            </h5>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>