<div class="row">
  <div class="col-md-8">
    <h3>Новости</h3>
    
    <% current_user.student_feed.each do |entry| %>
      <h5>
        <% if entry.class.name == "Task" %>
          <span style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
          Задача <%= link_to entry.name, entry %> принята.
        <% elsif entry.class.name == "Submission" %>
          <span style="color:#f0ad4e" class="glyphicon glyphicon-exclamation-sign"></span>
          К задаче <%= link_to entry.task.name, entry.task %> добавлены замечания.
        <% end %>

        <small>
          <strong><%= entry.updated_at.strftime("%H:%M") %></strong>
          <%= entry.updated_at.strftime("%d.%m.%y") if entry.updated_at.to_date != Time.now.to_date %>
        </small>
      </h5>
    <% end %>

  </div>

  <div class="col-md-4">
    <% if @deadline_tasks.any? %>
      <div class="row">
        <div class="col-md-12">
          <h2>Дедлайн</h2>
          <h5>Осталось меньше недели:</h5>
            <% @deadline_tasks.each do |task| %>
              <h5> <span style="color:#f0ad4e" class="glyphicon glyphicon-info-sign"></span>
                <%= link_to task.name, task %>

              </h5>
            <% end %>
        </div>
      </div>
    <% end %>

    <% if @overdue_tasks.any? %>
      <div class="row">
        <div class="col-md-12">
          <h3>Просроченные задачи</h3>
          <% @overdue_tasks.each do |task| %>
            <h5> <span style="color:#d9534f" class="glyphicon glyphicon-exclamation-sign"></span>
                <%= link_to task.name, task %>
                (<%= (Time.now - task.created_at - 2.weeks).to_i / 1.day + 1 %> дн.)
            </h5>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>