<div class="row">
  <div class="col-md-8">
    <h3>Новости</h3>
    <% @submissions.each do |submission| %>
      <h5>  
        <%= "#{submission.user.full_name} (#{submission.user.group.name} гр.)" %>
        <%= "добавил#{"а" if submission.user.female?} решение " %>

        <%= link_to submission.task.name, submission.task %>

        <% task = submission.task %>
        <% notes = submission.task.notes %>
        <% if notes.any? && notes.order(created_at: :asc).reverse.last.created_at > submission.created_at %>
          <span style="color:#f0ad4e" class="glyphicon glyphicon-exclamation-sign"></span>
        <% elsif task.accepted? %>
          <span style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
        <% end %>
        
        <small>
          <strong>
            <%= "(v.#{submission.version})," %>
            <%= submission.updated_at.strftime("%H:%M") %>
          </strong>
          <%= submission.updated_at.strftime("%d.%m.%y") if submission.updated_at.to_date != Time.now.to_date %>
        </small>
      </h5>
    <% end %>
    <%= will_paginate @submissions, :inner_window => 2, :outer_window => 1 %>
  </div>
  <div class="col-md-4">
    <!-- <div class="row">
      <div class="col-md-12"><h1>Дедлайн</h1></div>
    </div> -->
    <!-- <div class="row">
      <div class="col-md-12"><h1>Вопросы по задачам</h1></div>
    </div> -->
  </div>
</div>