<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Приглашение</h3>
</div>

<%= simple_form_for @invitation, remote: true do |f| %>

  <div class="modal-body">  
    
    <% if @notice %>
      <div class="alert alert-success" role="alert">
        <%= @notice %>
      </div>
    <% end %>

    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email %>
    </div>
  </div>

  <div class="modal-footer">
    <div class="form-actions">
      <%= f.button :submit, "Пригласить", class: "btn btn-primary" %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
  </div>

<% end %>
