<div class="col-md-4">
	<%= simple_form_for @submission, html: {multipart: true} do |f| %>
	  <%= f.label "Задача" %> <br>
	  <%= f.collection_select :task_id, current_user.tasks_left.sort_by{|x| x.name}, :id, :name, label: "Задача" %>

	  <%= f.input :file, label: "Решение" %>
	  <%= f.input :url, label: "Ссылка на решение", placeholder: "Коммит на GitHub, etc" %>
	  <%= f.input :text, as: 'text', label: "Комментарий к решению", input_html: { rows: 3 } %>

	 <br>

	  <%= f.submit "Отправить", class: "btn btn-primary" %>

	<% end %>
</div>