<%= simple_form_for @assignment do |f| %>

  <%= f.association :term, as: :hidden, collection: [ @assignment.term ], include_blank: false, label_method: :group_name, label: "Группа" %>
  <%= f.input :assignment_type, collection: { "Домашняя работа" => :homework, "Тест" => :test }, label: "Тип" %>

  <%= f.simple_fields_for :problems do |problem| %>
    <%= render 'problem_fields', f: problem %>
  <% end %>

  <%= f.simple_fields_for :links do |link| %>
    <%= render 'link_fields', f: link %>
  <% end %>

  <div class="links">
    <%= link_to_add_association 'Добавить задачу', f, :problems, class: "btn btn-default" %>
    <%= link_to_add_association 'Добавить ссылку', f, :links, class: "btn btn-default" %>
  </div>

  <%= f.button :submit, "Сохранить работу", class: "btn btn-primary" %>
<% end %>