<%= simple_form_for @assignment do |f| %>

  <% if params[:action] == "new" %>
    <%= f.association :term, collection: current_user.courses.map{|x| x.terms.last}.sort_by{|x| x.group_name}, label_method: :group_name, label: "Группа" %>
    <%= f.input :assignment_type, collection: { "Домашняя работа" => :homework, "Тест" => :test }, label: "Тип" %>
  <% end %>

  <%= f.simple_fields_for :problems do |problem| %>
    <%= render 'problem_fields', f: problem %>
  <% end %>

  <div class="links">
    <%= link_to_add_association 'Добавить задачу', f, :problems, class: "btn btn-default" %>
  </div>

  <%= f.button :submit, "Сохранить работу", class: "btn btn-primary" %>
<% end %>