<%= simple_form_for @assignment do |f| %>
  
  <div class="col-md-4">
    <%= f.association :term, collection: current_user.courses.map{|x| x.terms.last}.sort_by{|x| x.group_name}, label_method: :group_name, label: "Группа" %>
    <%= f.input :assignment_type, collection: { "Домашняя работа" => :homework, "Тест" => :test }, label: "Тип" %>

    <%= f.simple_fields_for :problems do |problem| %>
      <%= render 'problem_fields', f: problem %>
    <% end %>

    <%= f.simple_fields_for :links do |link| %>
      <%= render 'link_fields', f: link %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Добавить задачу', f, :problems, class: "btn btn-default" %>
      <%= link_to_add_association 'Добавить ссылку', f, :links, class: "btn btn-default" %>
    </div>

    <%= f.button :submit, "Сохранить работу", class: "btn btn-primary" %>
  </div>
<% end %>