<h1>
  Домашняя работа <%= @homework.number %>
  <small>
    <%= link_to "#{@homework.group.name} группа", @homework.group %>
  </small>
</h1>

<%= simple_form_for @homework  do |f| %>

  <%= f.simple_fields_for :problems do |problem| %>
    <%= render 'problem_fields', f: problem %>
  <% end %>

  <%= f.simple_fields_for :links do |link| %>
    <%= render 'link_fields', f: link %>
  <% end %>
    
  <div class="links">
    <br>
    <%= link_to_add_association 'Добавить задачу', f, :problems, class: "btn btn-default" %>
    <%= link_to_add_association 'Добавить ссылку', f, :links, class: "btn btn-default" %>
  </div>

  <br>

  <%= f.button :submit, "Сохранить", class: "btn btn-primary" %>
  <%= link_to 'Удалить домашнюю работу', @homework, method: :delete, class: "btn btn-danger" %>
<% end %>
