<h2>
  Домашняя работа <%= @assignment.number %>
  <small>
    <%= link_to "#{@assignment.term.group_name} группа", @assignment.group %>
  </small>
</h2>

<%= simple_form_for @assignment  do |f| %>

  <% index = 0 %>
  <%= f.simple_fields_for :problems, @problems do |problem| %>
    <% @grade = @assignment.problems[index].max_grade %>
    <%= render 'problem_fields', f: problem %>
    <% index += 1 %>
  <% end %>
  <% @grade = @assignment.term.course.default_max_grade %>

  <%= f.simple_fields_for :links do |link| %>
    <%= render 'link_fields', f: link %>
  <% end %>
    
  <div class="links">
    <br>
    <%= link_to_add_association 'Добавить задачу', f, :problems, class: "btn btn-default" %>
    <%= link_to_add_association 'Добавить ссылку', f, :links, class: "btn btn-default" %>
  </div>

  <br>

  <%= f.button :submit, "Сохранить", class: "btn btn-primary" %>
  <%= link_to 'Удалить домашнюю работу', @assignment, method: :delete, class: "btn btn-danger" %>
<% end %>
