<%= simple_form_for @homework  do |f| %>
  
  <h2> Домашняя работа <%= @homework_number %> </h2>

  <%= f.hidden_field :number, value: @homework_number %>

  <%= f.simple_fields_for :problems do |problem| %>
    <%= render 'problem_fields', f: problem %>
  <% end %>
    
  <div class="links">
    <%= link_to_add_association 'Добавить задачу', f, :problems %>
    </div>
  <%= f.submit %>
<% end %>
