<div class="row">
  <div class="col-md-8 page-heading">
    <h1> <%= @course.name %> </h1>
    <h3>
      <%= "#{@course.group_name} группа" %>
      <% if @teacher %>
        <%= link_to edit_course_path(@course) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end %>
    </h3>
    <% if !@statistics %>
      <%= render 'not_approved_label' %>
    <% end %>
  </div>

  <div class="col-md-4" align="right">
    <h3> <%= @course.teacher.full_name %> </h3>
    <h3>
      <% if @teacher || @student %>
        <% if @course.teacher.additional_email.to_s.empty? %>
          <%= mail_to @course.teacher.email do %>
            <%= @course.teacher.email %>
          <% end %>
        <% else %>
          <%= mail_to @course.teacher.additional_email do %>
            <%= @course.teacher.additional_email %>
          <% end %>
        <% end %>
      <% end %>
    </h3>
    <% if !@statistics %>
      <%= render 'enroll_button' %>
    <% end %>
  </div>
</div>
