<h2>Задачи</h2>

<% @assignments.order(:created_at).reverse.each do |assignment| %>
  <strong>
    <% if assignment.homework? %>
      Домашняя работа
    <% elsif assignment.test? %>
      Тест
    <% end %>

  <%= assignment.number %>. </strong> <small><%= assignment.created_at.strftime("%d.%m.%y") %> </small>
  <% if signed_in? && current_user.id == @teacher_id %>
    <%= link_to edit_homework_path(assignment) do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  <% end %>

  <% assignment.links.order(:id).each do |link| %>
    <br>
    <%= link_to link.name, link.url %>
  <% end %>

  <ol>
    <% assignment.problems.order(:id).each do |problem| %>
      <li>
        <% if signed_in? && @student %>
          <strong>
            <% task = @tasks.where(problem_id: problem.id).first %>
            <%= link_to task.name, task %>
          </strong>

        <% else %>
          <% if problem.name %>
            <strong> <%= problem.name %> </strong>
          <% end %>
        <% end %>

        <%= problem.text.gsub("\n", "<br />").html_safe %>
      </li>
    <% end %>
  </ol>
<% end %>