<h2 style="margin: 10px 5px 5px 0; display: inline-block;">Задачи </h2>
<% if (not current_user.nil?) and current_user.courses.where(id: @course.id).length != 0 %>
  <div class="btn-group btn-group-xs button-add-hw" style="margin: 0 0 5px 0;">
    <%= link_to new_homework_path, class: "btn btn-success button-add-hw" do%>
        <div class="button-add-hw-sign"><div class='glyphicon glyphicon-plus'></div></div>
        <div class="button-add-hw-content"><div class="button-add-hw-inner">Добавить задание</div></div>
    <% end %>
  </div>
<% end %>
<br>
<style>
pre {
  overflow: visible;
}
</style>
<% unless @assignments.any? %>
    <h3>Здесь пока ничего нет.</h3>
<% end %>
<% @assignments.reverse.each do |assignment| %>
  <strong>
    <% if assignment.homework? %>
      Домашняя работа
    <% elsif assignment.test? %>
      Тест
    <% end %>

  <%= assignment.number %>. </strong> <small><%= assignment.created_at.strftime("%d.%m.%y") %> </small>
  <% if @teacher %>
    <%= link_to edit_homework_path(assignment) do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  <% end %>

  <% assignment.links.order(:id).each do |link| %>
    <br>
    <%= link_to link.name, link.url %>
  <% end %>

  <ol>
    <% assignment.problems.order(:id).each do |problem| %>
      <li>
        <% if @student %>
          <strong>
            <% task = @tasks.where(problem_id: problem.id).first %>
            <%= link_to task.name, task %>
          </strong>

        <% else %>
          <% if problem.name %>
            <strong> <%= problem.name %> </strong>
          <% end %>
        <% end %>

        <%= markdown(problem.text) %>
      </li>
    <% end %>
  </ol>
<% end %>