<%= render 'course_info' %>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <% @terms.each do |term| %>
        <% if term.id == @term.id %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to "#{term.number} #{browser.mobile? ? "сем." : "семестр"}", show_term_path(@course.id, term.number), remote: true %>
        </li>

      <% end %>
      <li> <%= link_to "Добавить семестр", add_term_path(@course.id), method: :put, remote: true if @teacher %> </li>
      <li class="pull-right"> <%= link_to "Статистика", show_statistics_path, remote: true %> </li>
    </ul>
    <%= render 'term' %>
  </div>
</div>
