<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <td align="center"><strong>Студент</strong></td>
        <td align="center"><strong>TODO</strong></td>
        <td class="separator"></td>

        <% @assignments.order(:id).each do |assignment| %>
          <% if assignment.problems.any? %>
          <% if assignment.done? %>
            <td align="center">
          <% else %>
            <td align="center" colspan="<%= assignment.problems.count %>">
          <% end %>

              <strong>
                <% if assignment.test? %>
                  <%= "Тест #{assignment.number}" %>
                <% elsif assignment.homework? %>
                  <%= "№#{assignment.number}" %>
                <% end %>
              </strong>
            </td>
            <td class="separator"></td>
          <% end %>
        <% end %>
      </tr>

      <tr>
        <td></td>
        <td align="center"><%= @tasks_left if @tasks_left != 0 %></td>
        <td class="separator"></td>
        <% @assignments.order(:id).each do |assignment| %>

          <% if assignment.done? %>
            <td></td>

          <% else %>
            <% assignment.problems.order(:number).each do |problem| %>
              <td align="center">
              <% if problem.name %>
                <%= problem.name %>
              <% else %>
                <%= problem.number %>
              <% end %>
              </td>
            <% end %>

          <% end %>

          <td class="separator"></td>
        <% end %>
      </tr>
    </thead>

    <% @students.sort_by{|x| x.user.surname}.each do |student| %>
      <tr>
        <td>
          <%= "#{student.user.surname} #{student.user.name}" %>

          <% if (not student.approved?) && signed_in? && current_user.id == @teacher_id %>
            <%= link_to student_path(student, student: { approved: true }), method: :put do %>
              <span style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
            <% end %>

            <%= link_to student, method: :delete do %>
              <span style="color:#d9534f" class="glyphicon glyphicon-remove"></span>
            <% end %>
          <% end %>
        </td>
        <td align="center"><%= student.user.tasks_left.count if student.user.tasks_left.count != 0 %></td>

        <td class="separator"></td>
        <% student.jobs.order(:id).each do |job| %>
          <% if job.assignment.done? %>
            <td class="task accepted-task"></td>
          <% else %>
            <% job.tasks.order(:problem_number).each do |task| %>

              <% if task.accepted? %>
                <td style="padding: 0" class="task accepted-task">

              <% elsif task.not_accepted? %>
                <td style="padding: 0" class="task rejected-task">

              <% elsif task.notes.any? %>
                <td style="padding: 0" class="task task-with-notes">

              <% elsif task.submissions.any? %>
                <td style="padding: 0" class="task task-with-submissions">

              <% else %>
                <td style="padding: 0" class="task">
              <% end %>

                <%= link_to "", task if signed_in? && (current_user.id == @teacher_id || current_user.id == task.user_id) %>
                <%= task.name if @show_tasks_names %>
              </td>
            <% end %>
          <% end %>

          <td class="separator" align="center">
            <% if job.awards.any? %>
              <% case job.awards.last.rank when 1 %>
                <span style="color:#EEC900" class="glyphicon glyphicon-certificate"></span>
              <% when 2 %>
                <span style="color:#B0A6A4" class="glyphicon glyphicon-certificate"></span>
              <% when 3 %>
                <span style="color:#D98719" class="glyphicon glyphicon-certificate"></span>
              <% end %>
            <% end %>
          </td>

        <% end %>
      </tr>
    <% end %>
  </table>
</div>
