<div id="course_table" class="table-responsive" style="overflow-x: auto;">
  <table class="table table-bordered table-condensed" style="margin: 0">
    <thead>
      <tr>
        <td align="center"><strong>Студент</strong></td>
        <td align="center"><strong>TODO</strong></td>
        <td class="separator"></td>

        <% @assignments.each do |assignment| %>
          <% if assignment.problems.any? %>
          <% if assignment.done? %>
            <td align="center">
          <% else %>
            <td align="center" colspan="<%= assignment.problems.count %>">
          <% end %>

              <strong>
                <% if assignment.test? %>
                  <%= "Тест #{assignment.number}" %>
                <% elsif assignment.homework? %>
                  <%= "№#{assignment.number}" %>
                <% end %>
              </strong>
            </td>
            <td class="separator"></td>
          <% end %>
        <% end %>
      </tr>

      <tr>
        <td></td>
        <td align="center"><%= @tasks_left if @tasks_left != 0 %></td>
        <td class="separator"></td>
        <% @assignments.each do |assignment| %>

          <% if assignment.done? %>
            <td></td>

          <% else %>
            <% assignment.problems.order(:number).each do |problem| %>
              <td align="center">
                <%= problem.displaying_name %>
              </td>
            <% end %>

          <% end %>
          <% if assignment.problems.any? %>
            <td class="separator"></td>
          <% end %>
        <% end %>
      </tr>
    </thead>

    <% @students.sort_by{|x| x.user.surname}.each do |student| %>
      <tr>
        <td style="white-space: nowrap">
          <%= "#{student.user.surname} #{student.user.name}" %>

          <% if @teacher && (not student.approved?) %>
            <%= link_to student_path(student, student: { approved: true }), method: :put do %>
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>

            <%= link_to student, method: :delete do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          <% end %>

          <% if @teacher && student.approved? %>
            <%= link_to student, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span style="color:#d9534f" class="glyphicon glyphicon-remove"></span>
            <% end %>
          <% end %>

        </td>
        <td align="center"><%= student.tasks_left_count if student.tasks_left_count != 0 %></td>

        <td class="separator"></td>
        <% student.jobs.order(:id).each do |job| %>
          <% if job.assignment.done? %>
            <td class="task accepted-task"></td>
          <% else %>
            <% job.tasks.order(:problem_number).pluck(:id, :status).each do |id, status| %>
              <% case status %>
              <% when Task.statuses[:not_submitted] %>
                <td style="padding: 0" class="task">
              <% when Task.statuses[:new_submission] %>
                <td style="padding: 0" class="task task-with-submissions">
              <% when Task.statuses[:accepted_partially] %>
                <td style="padding: 0" class="task task-with-notes">
              <% when Task.statuses[:accepted] %>
                <td style="padding: 0" class="task accepted-task">
              <% when Task.statuses[:new_submission_with_notes] %>
                <td style="padding: 0" class="task task-with-new-submissions-and-notes">
              <% end %>
                <%= link_to "", task_path(id) if @student == student || @teacher %>
              </td>
            <% end %>
          <% end %>
          <% if job.assignment.problems.any? %>
            <td class="separator" align="center">
              <% if job.awards.any? %>
                <% case job.awards.last.rank when 1 %>
                  <span style="color:#EEC900" class="glyphicon glyphicon-certificate"></span>
                <% when 2 %>
                  <span style="color:#B0A6A4" class="glyphicon glyphicon-certificate"></span>
                <% when 3 %>
                  <span style="color:#D98719" class="glyphicon glyphicon-certificate"></span>
                <% end %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
