<div class="row">
  <div class="col-md-8 page-heading">
    <h1> <%= @course.name %> </h1>
    <h3>
      <%= "#{@course.group_name} группа" %>
      <% if signed_in? && current_user == @course.teacher %>
        <%= link_to edit_course_path(@course) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end %>
    </h3>

    <% if @subscription && (not @subscription.approved?) %>
      <div class="alert alert-warning" role="alert">
        Преподаватель должен подтвердить Вашу запись.
      </div>
    <% end %>
  </div>

  <div class="col-md-4" align="right">
    <h3> <%= @course.teacher.full_name %> </h3>
    <h3>
      <% if (signed_in? && current_user.teacher?) || (@subscription && @subscription.approved?) %>
        <%= mail_to @course.teacher.email do %>
          <%= @course.teacher.email %>
        <% end %>
      <% end %>
    </h3>

    <% if signed_in? && current_user.student? %>
        <%= link_to 'Записаться', students_path(student: {term_id: @term.id}), method: :post, class: 'btn btn-success' if @subscription.nil? %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="hidden-xs col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <% @course.terms.reverse.each do |term| %>
        <% if term == @term %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to "#{term.number} семестр", show_term_path(@course.id, term.number) %>
        </li>

      <% end %>
      <li> <%= link_to "Добавить семестр", add_term_path(@course.id), method: :put if signed_in? && current_user.teacher?%> </li>
    </ul>
    <%= render 'term' %>
  </div>

  <div class="visible-xs col-xs-12">
    <ul class="nav nav-tabs" role="tablist">
      <% @course.terms.reverse.each do |term| %>
        <% if term == @term %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to "#{term.number} сем.", show_term_path(@course.id, term.number) %>
        </li>

      <% end %>
      <li> <%= link_to "Добавить семестр", add_term_path(@course.id), method: :put if signed_in? && current_user.teacher? %> </li>
    </ul>
  <%= render 'term' %>
  </div>

</div>