<%= render 'course_info' %>

<div class="row">
  <div class="col-md-12">
    <%= render 'tabs' %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <td align="center"><strong> <%= "Статистика" %> </strong></td>
        <td class="separator"></td>

        <td align="center"><strong> <%= "Все семестры" %> </strong></td>

        <% @terms.each do |term| %>
          <td align="center"><strong> <%= "#{term.number} семестр" %> </strong></td>
        <% end %>
      </tr>
    </thead>

  <%= statistics_line("Комментариев к задачам", @notes_total, @notes) %>

  <%= statistics_line("Принято задач", @accepted_tasks_total, @accepted_tasks) %>

  <%= statistics_line("Попыток сдать задачи", @attempts_to_pass_total, @attempts_to_pass) %>

  <%= statistics_line("Максимальное число попыток сдать одну задачу ", @max_attempts_to_pass_one_task_total, @max_attempts_to_pass_one_task) %>

  <tr>
    <td><%= "Задача с минимальным количеством попыток" %></td>
    <td class="separator"></td>
    <td align="center"><%= "  " %></td>
    <% for i in 0..@terms.count - 1%>
      <td align="center"><%= @problems_with_min_attempts_to_pass[i] %></td>
    <% end %> 
  </tr>

   <tr>
    <td><%= "Задача с максимальным количеством попыток" %></td>
    <td class="separator"></td>
    <td align="center"><%= "  " %></td>
    <% for i in 0..@terms.count - 1%>
      <td align="center"><%= @problems_with_max_attempts_to_pass[i] %></td>
    <% end %> 
  </tr>

  </table>
</div>

