<%= render 'course_info' %>

<div class="row">
  <div class="col-md-12">
    <%= render 'tabs' %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <td align="center"><strong> <%= "Статистика" %> </strong></td>
        <td class="separator"></td>

        <td align="center"><strong> <%= "Все семестры" %> </strong></td>

        <% @terms.each do |term| %>
          <td align="center"><strong> <%= "#{term.number} семестр" %> </strong></td>
        <% end %>
      </tr>
    </thead>

	<tr>
		<td><%= "Комментариев к задачам" %></td>
		<td class="separator"></td>
		<td align="center"><%= @notes_total %></td>
		<% @terms.each do |term| %>
			<td align="center"><%= @notes_number[term] %></td>
		<% end %>
	</tr>

	<tr>
		<td><%= "Всего сдано задач" %></td>
		<td class="separator"></td>
		<td align="center"><%= @accepted_tasks_total %></td>
		<% @terms.each do |term| %>
			<td align="center"><%= @accepted_tasks_number[term] %></td>
		<% end %>
	</tr>

	<tr>
		<td><%= "Сдано задач с первого раза" %></td>
		<td class="separator"></td>
		<td align="center"><%= @first_try_accepted_tasks_total %></td>
		<% @terms.each do |term| %>
			<td align="center"><%= @first_try_accepted_tasks_number[term] %></td>
		<% end %>
	</tr>

	<tr>
		<td><%= "Всего попыток сдать задачи" %></td>
		<td class="separator"></td>
		<td align="center"><%= @attempts_to_pass_tasks_total %></td>
		<% @terms.each do |term| %>
			<td align="center"><%= @attempts_to_pass_tasks_number[term] %></td>
		<% end %>
	</tr>

	<tr>
		<td><%= "Максимальное число попыток сдать одну задачу" %></td>
		<td class="separator"></td>
		<td align="center"><%= @maximum_of_attempts_to_pass_task_total %></td>
		<% @terms.each do |term| %>
			<td align="center"><%= @maximum_of_attempts_to_pass_task_number[term] %></td>
		<% end %>
	</tr>

	<tr>
		<td><%= "Номер задачи с минимальным количеством попыток среди всех студентов" %></td>
		<td class="separator"></td>
		<td align="center"><%= "#{@problem_with_minimum_number_of_attempts_total.homework.term.number}.
		#{@problem_with_minimum_number_of_attempts_total.get_name}" %></td>
		<% @terms.each do |term| %>
			<td align="center"><%=@problem_with_minimum_number_of_attempts[term].get_name %></td>
		<% end %>
	</tr>

	<tr>
		<td><%= "Номер задачи с максимальным количеством попыток среди всех студентов" %></td>
		<td class="separator"></td>
		<td align="center"><%= "#{@problem_with_maximum_number_of_attempts_total.homework.term.number}.
		#{@problem_with_maximum_number_of_attempts_total.get_name}" %></td>
		<% @terms.each do |term| %>
			<td align="center"><%= @problem_with_maximum_number_of_attempts[term].get_name %></td>
		<% end %>
	</tr>

  </table>
</div>
