<%= render 'course_info' %>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <% @terms.each do |term| %>
        <li><%= link_to "#{term.number} #{browser.mobile? ? "сем." : "семестр"}", show_term_path(@course.id, term.number) %></li>
      <% end %>
      <li> <%= link_to "Добавить семестр", add_term_path(@course.id), method: :put if @teacher %> </li>
      <li class="active pull-right"> <%= link_to "Статистика", show_statistics_path %> </li>
    </ul>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <td align="center"><strong> <%= "Статистика" %> </strong></td>
        <td class="separator"></td>

        <td align="center"><strong> <%= "Всего" %> </strong></td>

        <% @terms.each do |term| %>
          <td align="center"><strong> <%= "#{term.number} семестр" %> </strong></td>
        <% end %>
      </tr>
    </thead>

	<tr>
		<td><%= "Комментариев к задачам" %></td>
		<td class="separator"></td>
		<td align="center"><%= @notes_total %></td>
		<% @terms.each do |term| %>
			<td align="center"><%= @notes_number[term] %></td>
		<% end %>
	</tr>

	<tr>
		<td><%= "Сдано задач с первого раза" %></td>
		<td class="separator"></td>
		<td align="center"><%= @first_try_accepted_tasks_total %></td>
		<% @terms.each do |term| %>
			<td align="center"><%= @first_try_accepted_tasks_number[term] %></td>
		<% end %>
	</tr>
  </table>
</div>
