<%= render 'course_info' %>

<div class="row">
  <div class="col-md-12">
    <%= render 'tabs' %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <td align="center"><strong> <%= "Статистика" %> </strong></td>
        <td class="separator"></td>

        <td align="center"><strong> <%= "Все семестры" %> </strong></td>

        <% @terms.each do |term| %>
          <td align="center"><strong> <%= "#{term.number} семестр" %> </strong></td>
        <% end %>
      </tr>
    </thead>

  <%= get_statistic_text("Комментариев к задачам", @notes_total, ->(term){ @notes_number[term] }, @terms) %>

  <%= get_statistic_text("Всего сдано задач", @accepted_tasks_total, ->(term){ @accepted_tasks_number[term] }, @terms) %>

  <%= get_statistic_text("Сдано задач с первого раза", @first_try_accepted_total, ->(term){ @first_try_accepted_number[term] }, @terms) %>

  <%= get_statistic_text("Всего попыток сдать задачи", @attempts_to_pass_total, ->(term){ @attempts_to_pass_number[term] }, @terms) %>

  <%= get_statistic_text("Максимальное число попыток сдать одну задачу", @max_of_attempts_to_pass_total, ->(term){ @max_of_attempts_to_pass_number[term] }, @terms) %>

  <%= get_statistic_text("Задача с минимальным количеством попыток", 
    "#{@min_attempts_number_problem_total.homework.term.number}.
    #{@min_attempts_number_problem_total.get_name}", 
    ->(term){ @min_attempts_number_problem[term].get_name }, @terms) %>

  <%= get_statistic_text("Задачи с максимальным количеством попыток", 
    "#{@max_attempts_number_problem_total.homework.term.number}.
    #{@max_attempts_number_problem_total.get_name}", 
    ->(term){ @max_attempts_number_problem[term].get_name }, @terms) %>

  </table>
</div>
