<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
      <!-- Toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "hwproj", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-right collapse navbar-collapse" id="navbar-main"> <!-- collapse navbar-collapse  -->
  		<ul class="nav navbar-nav">
  			<% if user_signed_in? %>
          <% if current_user.teacher? %>
            <li> <%= link_to "Добавить задание", new_homework_path %> </li>

          <% elsif %>
            <li> <%= link_to "Загрузить решение", '#' %>
          <% end %>
    			 <!-- </li> <li class="active"> -->
    			<li> <%= link_to "Задачи", homeworks_path %> </li>
    			<li> <%= link_to "Группа", tasks_path %> </li>
    			<!-- <li> <%= link_to "Статьи", '#' %> </li> -->
    			<li> <%= link_to "Выход", destroy_user_session_path, method: :delete %> </li> <!-- class: "btn btn-default navbar-btn" -->
    		<% else %>
    			<li> <%= link_to "Регистрация", new_user_registration_path %> </li>
    			<li> <%= button_to "Вход", new_user_session_path, class: "btn btn-default navbar-btn" %> </li>
    		<% end %>
      </ul>
    </div>
	</div>
</nav>