<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>HwProj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  
  <%= render 'layouts/header' %>

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/messages' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">  
        <%= render 'layouts/footer' %>
      </div>
    </div>

  </div>  
</body>
<%= render 'layouts/modal' %>
</html>
